body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    display: grid;
    flex-wrap: wrap;
}

p{
    color : rgb(0, 0, 0);
    width: 100%;
}

form{
    width: 350px;
    align-items: center;
    margin: 30px auto
}

input,button{
    width: 350px;
    padding: 14px;
    margin-bottom: 18px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px black;
}

button{
    background-color: rgb(0, 0, 255);
    color: black;
    border: 1px grey;
    cursor: pointer;
    border-radius: 15px;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

.form-card{
    background: #f4f9ff; 
    border-left: 6px solid; 
    padding: 10px 18px 10px 18px;
    margin-top: 25px;
    box-shadow: 0 4px 12px rgba(0, 100, 255, 0.5);
    border: 1px solid #dbeefc;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 5px auto;
    border-radius: 16px; 
}

.link-agenda{
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-decoration: none; 
}

.home{
    background: #f4f9ff; 
    border-left: 6px solid; 
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
    box-shadow: 0 4px 12px rgba(0, 100, 255, 0.5);
    border: 1px solid #dbeefc;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 16px;
    text-decoration: none; 
    flex-direction: column;
}

.tarefa-card{
    background: #f4f9ff; 
    border-left: 6px solid; 
    padding: 10px 18px 10px 18px;
    margin-top: 25px;
    box-shadow: 0 4px 12px rgba(0, 100, 255, 0.5);
    border: 1px solid #dbeefc;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 16px; 
    display: flex;
    gap: 5px;
}

.button-concluir{
    background-color: rgb(1, 228, 1);
    color: black;
    border: 1px grey;
    cursor: pointer;
    border-radius: 15px;
    width: 90px;
    text-align: center;
}

.button-excluir{
    background-color: red;
    color: black;
    border: 1px grey;
    cursor: pointer;
    border-radius: 15px;
    width: 90px;
    text-align: center;

}

.button-excluir:hover{
    background-color: rgb(182, 1, 1);
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 15px;
}